<!-- author Zongkun Liu (liuzk@bu.edu) -->
<html>
<head>
    <title>Albums</title>
<style>
table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
{% if message %}
    <h3>{{message}}!</h3>
{% endif %}

    <body>
        <div class="title">
            <h2>Manage your Albums!</h2>
        </div>
        <div id="content">
            <form method="post" action="/album">
                <h3>Create a new album</h3>
                <label for="album_name">Enter your album name:</label>
                <input type="album_name" name="album_name" required='true'/><br />
                <input type="submit" value="Create" name="submit"/><br /><br />
                {% if name %}
                    <h3>Here are albums</h3>
                    <table name="album">
                        <tr>
                            <th>Album Name</th>
                        </tr>
                        {% for name in album %}
                        <tr>
                            <td>{{name}}<td/>
                        </tr>
                        {% endfor %}
                    </table>
                    <br /><br />
                <h3>View photos in your albums</h3>
                <select name="albums">
                    {% for name in album %}
                    <option value={{name}}>{{name}}</option>
                    {% endfor %}
                </select><br />
                <input type="submit" value="Goto" name="submit"/>
                <input type="submit" value="Delete" name="submit"/>
                {% endif %}
            </form>
         </div>
         <br />
         Back to Homepage!<br />
        <li><a href='/'>Home</a></li>
    </body>
</html>
