<!-- author Zongkun Liu (liuzk@bu.edu) -->
<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Birthday</th>
    <th>Hometown</th>
    <th>Gender</th>
    <th>Contribution</th>
  </tr>
  <tr>
    <td>{{ firstname }}</td>
    <td>{{ lastname }}</td>
    <td>{{ email }}</td>
    <td>{{ birthday }}</td>
    <td>{{ hometown }}</td>
    <td>{{ gender }}</td>
    <td>{{ contribution }}</td>
  </tr>
  {% if profiles %}
  {% for profile in profiles %}
  <tr>
    <td>{{ profile[0] }}</td>
    <td>{{ profile[1] }}</td>
    <td>{{ profile[2] }}</td>
    <td>{{ profile[3] }}</td>
    <td>{{ profile[4] }}</td>
    <td>{{ profile[5] }}</td>
    <td>{{ profile[6] }}</td>
  </tr>
  {% endfor %}
{% endif %}

</table>

<br />
Back to Homepage!<br />
<li><a href='/'>Home</a></li>
</body>
</html>

