<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
    
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="tag">Please add tag to your photo:</label>
                <input type="text" name="tag" required='false' /><br />
                <label for="albums">Please select an album:</label>
                <select name="albums">
                    {% for album in albums %}
                    <option value={{album}}>{{album}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Upload" />
                {% if message %}
                    <h1>{{message}}!</h1>
                    <a href='/album'>Create!</a>
                {% endif %}
            </form>
    </body>
